@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #3f51b5;
$secondary: #303f9f;
$accent: #448aff;
$divider: #bdbdbd;

$body-color: #212121;
$body-secondary-color: #757575;
$body-bg: #fff;

$link-color: $body-color;
$link-hover-color: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Custom min/max width/height
$size-values: (
    0: 0,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
);

// Max height
@each $key, $value in $size-values {
    .max-h-#{$key} {
        max-height: $value;
    }
    .min-h-#{$key} {
        min-height: $value;
    }
    .max-w-#{$key} {
        max-width: $value;
    }
    .min-w-#{$key} {
        min-width: $value;
    }
}

// Font
$font-family-sans-serif: "Montserrat";

// Custom colors
$custom-colors: (
    "secondary": $secondary,
    "accent": $accent,
    "divider": $divider,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Spacers
$spacers: (
    (
        0: 0,
        1: (
            $spacer * 0.25,
        ),
        2: (
            $spacer * 0.5,
        ),
        "2-5": (
            $spacer * 0.75,
        ),
        3: $spacer,
        4: (
            $spacer * 1.5,
        ),
        5: (
            $spacer * 3,
        ),
    )
);
@import "bootstrap/scss/bootstrap";

.bg-unread-chat-tab {
    background: linear-gradient(45deg, $accent, $secondary);
}
.bg-unread-chat-tab:hover {
    cursor: pointer;
    background: $accent;
}

.bg-read-chat-tab {
    background: $primary;
}
.bg-read-chat-tab:hover {
    cursor: pointer;
    background: $accent;
}

.bg-chat {
    background: linear-gradient(to bottom, $secondary, $primary, $secondary);
}

.received-message-shadow {
    box-shadow: 0.5rem 0.5rem 1rem rgba($black, 0.25);
}

.sent-message-shadow {
    box-shadow: -0.5rem 0.5rem 1rem rgba($black, 0.25);
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
}
